@model MLSoftware.Web.Model.Post

@{
    ViewData["Title"] = Model.Title;
}

<ol class="breadcrumb">
    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
    @if (Model.IsDraft)
    {
        <li><a asp-controller="Draft" asp-action="Index">Drafts</a></li>
    }
    <li class="active">@Model.Title</li>
</ol>

<article>
    <div class="row">
        <div class="text-center">
            <div class="col-lg-12">
                <h1>@Model.Title</h1>
            </div>
            @if (!Model.IsDraft)
            {
                <div class="col-lg-12">
                    <span class="published-date">@Model.Published?.ToString("MMMM dd, yyyy hh:mm tt")</span>
                </div>
            }
            <div class="col-lg-12">
                @if (Model.PostTags != null && Model.PostTags.Any())
                {
                    <div class="tags">
                        <i class="fa fa-tags"></i>
                        @foreach (var tag in Model.PostTags)
                        {
                            <a href="#">@tag.Tag.Description</a>
                        }
                    </div>
                }
            </div>
            <div class="col-lg-12">
                @if (User.Identity.IsAuthenticated)
                {
                    <ul class="list-inline text-center">
                        <li><a class="text-muted small" asp-controller="Post" asp-action="Edit" asp-route-id="@Model.Id"><i class="fa fa-edit"></i> Edit</a></li>
                        @if (Model.IsDraft)
                        {
                            <li><a class="text-muted small" asp-controller="Post" asp-action="Publish" asp asp-route-id="@Model.Id"><i class="fa fa-check"></i> Publish</a></li>
                        }
                        else
                        {
                            <li><a class="text-muted small" asp-controller="Post" asp-action="Unpublish" asp asp-route-id="@Model.Id"><i class="fa fa-times"></i> Unpublish</a></li>
                        }
                        <li><a class="text-muted small" asp-controller="Post" asp-action="Delete" asp-route-id="@Model.Id"><i class="fa fa-remove"></i> Delete</a></li>
                    </ul>
                }
            </div>
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            @Html.Raw(@Model.Content)
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <h2>@Model.Comments.Count Comments</h2>
            @foreach(var comment in Model.Comments.OrderBy(c => c.Created))
            {
                <div class="row comment">
                    <div class="col-xs-2">
                        <gravatar gravatar-email="@comment.Email" image-size="108"></gravatar>
                    </div>
                    <div class="col-xs-10">
                        <div class="row">
                            <div class="col-sm-5">
                                <span><strong>@comment.Name</strong></span>
                            </div>
                            <div class="col-sm-7">
                                <span class="published-date pull-right">@comment.Created.ToString("MMMM dd, yyyy hh:mm tt")</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                @comment.Content
                            </div>
                        </div>
                    </div>
                </div>
            }
            <div class="row">
                <div class="col-lg-12">
                    <partial name="_CommentPartial" model="@new MLSoftware.Web.ViewModels.CommentViewModel(){ PostId = Model.Id }"/>
                </div>
            </div>
        </div>
    </div>
</article>

