@model MLSoftware.Web.Model.Post

<article>
    <div class="row">
        <div class="text-center">
            <h1>@Model.Title</h1>
            <span class="published-date">@Model.Published.ToString("MMMM dd, yyyy hh:mm")</span>
            @if (Model.Tags != null && Model.Tags.Any())
            {
                <div class="tags">
                    <i class="fa fa-tags"></i>
                    @foreach (var tag in Model.Tags)
                    {
                        <a href="#">@tag</a>
                    }
                </div>
            }
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            @Html.Raw(@Model.Content)
        </div>
    </div>
</article>

